<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Happiness & Metal Bands</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      body {
        background-image: url("https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149020364.jpg");
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>World Happiness and Metal Bands Dashboard</h1>
          <p>Use the interactive charts and map below to explore the dataset</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Test Subject ID No.:</h5>
            <select
              id="selDataset"
              onchange="optionChanged(this.value)"
            ></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Demographic Info</h3>
            </div>
            <div id="country-data" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="world-happiness"></div>
        </div>
        <div class="col-md-5">
          <div id="world-metal"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="lil-guy"></div>
        </div>
      </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="app.js"></script>
    <script src="extra_cred.js"></script>
  </body>
</html>
